<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="documentDirectory" value="%localAppData%\BlutdruckmessungApp"/>
		<add key="template_file_name" value="Blutdruckmessungsprotokoll_template.docx"/>
		<add key="protocol_file_name" value="protokoll_blutdruck.docx"/>
		<add key="print_file_name" value="protokoll_blutdruck_druck.docx"/>
	</appSettings>
</configuration>